body {
    background: white;
}

.container {
    background: white;
    padding: 50px;
    display: flex;
    height: calc(100% - 167px);
}

.list {
    flex: 1;
    margin: 15px;
    max-height: 100%;
    padding: 15px;
    background: #eff1f3;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
}

.list-cnt {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    line-height: 18px;
    background-color: rgba(27,31,35,.15);
    text-align: center;
    color: #24292e;
    font-size: 12px;
    margin-right: 10px;
}

.list-header {
    display: flex;
}

.list-body {
    position: static;
    overflow: auto;
    margin-top: 15px;
    height: 90%;
}

.list-title {
    font-weight: bold;
}

.list-add {
    width: 18px;
    margin-left: auto;
    cursor: pointer;
}

.item {
    padding: 15px;
    margin-top: 15px;
    background: white;
    border: 1px solid #e1e4e9;
    border-radius: 5px;
}

.item-buttons {
    display: flex;
}

.item-add, .item-cancel {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.item-add:hover, .item-cancel:hover {
    opacity: 1;
}

.item-add {
    border: 1px solid #24292e;
    background: #24292e;
    opacity: 0.8;
    color: white;
    margin-right: 10px;
}

.item-cancel {
    border: 1px solid #afafaf;
    background: #afafaf;
    opacity: 0.5;
    color: black;
    margin-left: 10px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #5b5b5b;
}

.item-remove {
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
}