<!DOCTYPE html>
<html>
<head>
    <title>todo | <%= title%></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/admin.css" />
    <link rel='shortcut icon' type='image/x-icon' href='https://i.imgur.com/hKIyAcT.png' />
    <script type="module" src="/javascripts/admin.js"></script>
</head>
<body>
<% include ./layout/header.ejs %>
<div class="container">
    <table id="data">
        <thead>
            <tr>
                <th>idx</th>
                <th>id</th>
                <th>admin</th>
                <th>edit</th>
                <th>remove</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</body>
</html>
