<!DOCTYPE html>
<html>
<head>
    <% include ./link/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/admin.css" />
    <script type="module" src="/javascripts/admin.js"></script>
</head>
<body>
<% include ./layout/header.ejs %>
<div class="container">
    <table id="data">
        <thead>
            <tr>
                <th>idx</th>
                <th>id</th>
                <th>admin</th>
                <th>edit</th>
                <th>remove</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</body>
</html>
