<!DOCTYPE html>
<html>
<head>
<% include ./link/head.ejs %>
<link rel="stylesheet" href="/stylesheets/board.css" />
<link rel="stylesheet" href="/stylesheets/modal.css" />
<link rel="stylesheet" href="/stylesheets/log.css" />
<script type="module" src="/javascripts/board.js"></script>
</head>
<body>
<% include ./layout/header.ejs %>
<input type="hidden" id="boardId" value="<% if (locals.boardId) {%><%= locals.boardId%><%} else {%><%= locals.id%><%} %>">
<input type="hidden" id="userId" value="<%= locals.id%>">
<div class="wrap">
    <div class="container"></div>
    <div class="modal"></div>
    <div class="log"></div>
</div>
</body>
</html>
