<!DOCTYPE html>
<html>
<head>
<% include ./link/head.ejs %>
</head>
<body>
<% include ./layout/header.ejs %>
<div class="container">
  <div class="content">
    <% if (locals.id) {%>
      <div class="title">Welcome, <%= locals.id %> :)</div>
      <div class="button-container">
        <a href="/board"><div class="button">My Board</div></a>
      </div>
    <%} else {%>
      <div class="title">Do you want to join us?</div>
        <div class="button-container">
          <a href="/signin"><div class="button">Sign In</div></a>
          <a href="/signup"><div class="button">Sign Up</div></a>
        </div>
    <%} %>
  </div>
</div>
</body>
</html>
