<!DOCTYPE html>
<html>
<head>
<% include ./link/head.ejs %>
<link rel="stylesheet" href="/stylesheets/sign.css" />
</head>
<body>
<% include ./layout/header.ejs %>
<div class="container">
    <div class="header">
        <img src="https://i.imgur.com/hKIyAcT.png">
        <span>Sign In to Todo</span>
    </div>
    <form action="/api/signin" method="post">
        <% include ./layout/sign-form.ejs %>
        <input type="submit" value="Login">
    </form>
    <div class="footer">
        <span>New to Todo? <a href="/signup">Create on account.</a></span>
    </div>
</div>
</body>
</html>