<!DOCTYPE html>
<html>
<head>
    <title>todo | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/signin.css" />
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/hKIyAcT.png" />
</head>
<body>
<div class="container">
    <div class="header">
        <img src="https://i.imgur.com/hKIyAcT.png">
        <span>Sign In to Todo</span>
    </div>
    <form action="/signin" method="post">
        <div>User ID</div>
        <div class="input">
            <input type="text" name="id">
        </div>
        <div>Password</div>
        <div class="input">
            <input type="password" name="pw">
        </div>
        <input type="submit" value="Login">
    </form>
    <div class="footer">
        <span>New to Todo? <a href="#">Create on account.</a></span>
    </div>
</div>
</body>
</html>