<title>todo <% if (locals.title != 'to do') {%><%= title%><%} %></title>
<link rel="stylesheet" href="/stylesheets/index.css" />
<link rel='shortcut icon' type='image/x-icon' href='https://i.imgur.com/hKIyAcT.png' />